# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# script
/public/script.js

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.parcel-cache
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# VSCode extensions
.VSCodeCounter
public/workbox-6b19f60b.js.map
public/workbox-6b19f60b.js
public/sw.js.map
public/sw.js
